#title{
  background-color:#FA4067;
  color: #fff;
}

h1 , h2 , h3 , h4 ,h5 ,h6{
    font-family: "Montserrat";
}

.container-fluid{
  padding: 3% 15% 5%;
}
body{
  font-family: "Montserrat-light";
}

h2{

  font-size: 3rem;
  line-height: 1.5;
}

h3{

}
.p{
  color: grey;
}

/* Heading Section */
.top{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}


/* navigation BAR */

.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

/* DOWNLOAD BUTTONS */

.download-btn{
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-image{
  margin: auto auto;
  width: 300px;
  position: absolute;
  transform: rotate(25deg);
  right: 25%;
}



/* FEATURE SECTION */

#features{
  padding: 7% 15%;
  background-color: #fff;
  z-index: 1;
  position: relative;


}

.feature-box{

  text-align:center;
  padding: 7%;
}

.icon{
  font-size: 4rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#FA4067;
}

/* Testimonials Section */

#testimonials{

  text-align:center;
  background-color: #ef8172;
  color: #fff;

}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:  5%;
}

.press-logo{
  width: 10%;
  margin: 20px 30px 50px;
}

/* Pricing Section */

.price-item{
  font-size: 3rem;
  line-height: 1.5;
}

#pricing{
  padding: 100px;
  text-align: center;
}

.price-col{
  padding: 3% 2%;
}

@media (max-width:1028px) {

  #title{
    text-align: center;
  }

.title-image{
  position: static;
  transform: rotate(0);
}

}

/* Download SECTION */

#cta{
  background-color: #FA4067;
  text-align: center;
  padding: 7% 15%;
  color: #fff;

}

.bottoms{

  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

.btm-bttn{
  margin: 3% 3% 5% 0;
}


/* Copyright Section */

#footer{
  background-color: #fff;
  padding: 2% 0 2%;
  text-align:center;

}

.copy{
    color: grey;
}


.sm{

margin:20px 10px;
}

.color{
  color: black;
}
